@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Contact your mum if you need help! Lolz Roflcopter!</p>
<div>
    <span>Email</span>
    <p id="email">brycewoods94@gmail.com</p>
</div>

<div>
    <span>Phone</span>
    <p id="phone">0491088863</p>
</div>
